<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ItemUploadTool.Properties.Settings.PD_EDWConnectionString"
            connectionString="Data Source=epicslsql01;Initial Catalog=PD_EDW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ItemUploadTool.Properties.Settings.MTOConnectionString"
            connectionString="Data Source=epicslsql01;Initial Catalog=MTO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ItemUploadTool.Properties.Settings.PD_EDWConnectionStringLive"
            connectionString="Data Source=epicslsql01;Initial Catalog=PD_EDW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>